#是否将依赖均提升到node_modules
# shamefully-hoist=false
#解决部分不能正确解析依赖关系
public-hoist-pattern[]=*quill*
#是否读取或生成pnpm-lock.yaml
lockfile=true

#任何缺失的非可选对等依赖项都将自动按安装
auto-install-peers=true
#严格依赖模式
strict-peer-dependencies=false

#指定包的注册源
#<scope>:registry=xxx

#访问指定注册源时要使用的身份验证承载令牌
#//registry.npmjs.org/:_auth=${"用户名:密码"的base64编码}
#//registry.npmjs.org/:_authToken=${NPM_TOKEN}

#nodejs设置
#pnpm会自动安装指定的Node.js版本，并使用它来运行pnpm运行命令或pnpm node命令。
#use-node-version=16.16.0
#node-mirror:release=https://npmmirror.com/mirrors/node/
